

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.convert{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
}
.card{
  min-width: 20vw;
}
.inputd{
  display: flex;
  gap: 1rem;
}